.footer {
    border-top: 1px solid $color-tipografia;
    margin-bottom: 0;
    margin-top: 1.5rem;

    &_ul {
        margin-right: 0;
    }

    &_div {
        height: 5rem;
        width: 40%;
    }

    &__logo {
        height: 80px;
        width: 80px;
    }

    &__rrsslogo{
        height: 30px;
        width: 30px;
        color: $color-tipografia;
    }

    &__rights {
        font-family: $font-p;
        font-size: 12px;
        color: $color-tipografia;
        padding-left: 1.2rem;
        padding-right: 1rem;
    }
}
