.header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    &__open {
        display: none;
    }
    &__marca {
        width: 128px;
        height: 69px;
        margin-left: 3rem;
    }
    &__logo {
        height: 100%;
        width: 100%;
    }
}
.nav {
    padding: 0.2rem;
    margin-right: 5rem;
    &__lista {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0;
    }
    &__item {
        margin-left: 5rem;
        &--close {
            display: none;
        }
    }
    &__enlace {
        color: #fff;
        text-decoration: none;
        color: #FFD700;
        font-family: $font-p;
        font-size: 18px;
    }
}
a:hover {
    color: white;
}