.section1 {
    color: $color-titulos;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url(../images/barbershop1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &__h1 {
        width: 100%;
        text-align: center;
        font-size: 80px;
        font-family: $font-titulos;
        letter-spacing: 1.2rem;
        font-weight: bold;
        line-height: normal;
        margin-bottom: 0;
        animation: slideInLeft 0.8s forwards;
        text-shadow: 1px 1px black;
    }
    &__h2{
        
        @extend .section1__h1;
        font-size: 35px;
    }
    &__h3{
        width: 100%;
        text-align: center;
        font-family: 'Gloria Hallelujah', cursive;
        font-size: 20px;
        letter-spacing: 0.2rem;
        margin-bottom: 4rem;
        font-weight: bold;
        line-height: normal;
        animation: slideInLeft 0.8s forwards;
        text-shadow: 1px 1px black;
    }
}