.section4 {
    color: whitesmoke;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 78.59px;
    background-image: url(../images/sucursalesfondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &__h2 {
        letter-spacing: 0.5rem;
        font-size: 48px;
        margin-top: 3rem;
        margin-bottom: 2rem;
        font-family: $font-titulos;
        color: $color-tipografia;
        animation: slideInTop 0.8s forwards;
    }
    &__titulo {
        letter-spacing: 0.3rem;
        width: 100%;
        font-family: $font-titulos;
        font-size: 32px;
        color: $color-tipografia;
        animation: slideInLeft 0.8s forwards;
        margin-bottom: 0rem;
        display: inline-block;
        text-align: center;
        margin-bottom: 45px;
    }
    &__div1 {
        height: 480px;
        width: 1400px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        max-width: 97%;
        background: rgba(0,0,0,0.7);
        margin-bottom: 2rem;
    }
    &__img {
        height: 100%;
        width: 100%;
        margin-left: 0rem;
        border-radius: 10px;
        min-width: 45%;
    }
    &__div--p {
        height: 100%;
        width: 100%;
        line-height: 2rem;
        font-family: $font-p;
        font-size: 20px;
        margin-bottom: 0;
        text-align: justify;
    }
    &__div--info {
        font-family: $font-p;
        height: 100%;
        width: 100%;
        line-height: 2rem;
        font-size: 20px;
        margin-bottom: 0;
        text-align: justify;
    }
    &__text {
        padding: 0 20px;
    }
}
