.section5 {
    color: $color-tipografia;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-items: stretch;
    background-image: url(../images/barbershop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &__map {
        height: 50vh;
        width: 100%;
        flex: 1;
        align-self: center;
        &--img {
            height: 100%;
            width: 100%;
            overflow: hidden;
        }
    }
    &__contact {
        height: 50vh;
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        background-color: $color-tipografia;
        align-self: center;
        color: white;
        &--span {
            width: 100%;
            font-size: 24px;
            margin-bottom: 1rem;
            padding-left: 1rem;
        }
    }
    &__titulo {
        width: 100%;
        font-size: 32px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-left: 2rem;
    }
    &__form {
        height: 50vh;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-self: center;
        background-color: gray;
        &--lbl {
            width: 50%;
            margin-bottom: 0.7rem;
            margin-left: 1rem;
            height: 2rem;
        }
        &--lbl2 {
            height: 5rem;
            text-align: start;
        }
        &--button {
            height: 2.5rem;
            width: 5rem;
        }
    } 
}