$color-fondo: #000;
$color-titulos: #FFD700;
$color-tipografia: goldenrod;
$font-titulos: 'Bangers', cursive;
$font-p: 'Poppins', sans-serif;
$colorrrss: (
    instagram: goldenrod,
    facebook: goldenrod,
    whatsapp: goldenrod
);